<form id="delete-form-{{ product.id }}" method="post" action="{{ path('admin_product_delete', {'id': product.id}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    <button type="button" onclick="
        modal.open({
            title: 'Delete product',
            content: 'Are you sure you want to delete: {{ product.name }}?',
            buttons: [
                { text: 'Delete', onClick: () => { document.getElementById('delete-form-{{ product.id }}').submit(); modal.close(); } }
            ]
        })
    ">Delete</button>
</form>
      