{% extends 'admin/base.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% block bread %}
    → <a href="{{ path('admin_product_list') }}">{{ 'products'|trans(domain='admin.products')}}</a>  
    → {{ 'edit'|trans(domain='admin.products') }}
{% endblock %}

{% block body %}
    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_product_list') }}">back to list</a>

    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
