{% extends 'admin/base.html.twig' %}

{% block bread %}
    
{% endblock %}


{% block body %}
    <div class="">
        <h1>Product index</h1>
        <div class="grid">
            <div>
                <div>
                    <div class="bg-red-500">Id</div>
                    <div>Name</div>
                    <div>Price</div>
                    <div>Add_date</div>
                    <div>Last_update</div>
                    <div>Description</div>
                    <div>Symbol</div>
                    <div>actions</div>
                </div>
            </div>
            <div>
            {% for product in products %}
                <div>
                    <div>{{ product.id }}</div>
                    <div>{{ product.name }}</div>
                    <div>{{ product.price }}</div>
                    <div>{{ product.addDate ? product.addDate|date('Y-m-d H:i:s') : '' }}</div>
                    <div>{{ product.lastUpdate ? product.lastUpdate|date('Y-m-d H:i:s') : '' }}</div>
                    <div>{{ product.description }}</div>
                    <div>{{ product.symbol }}</div>
                    <div>
                        <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                    </div>
                </div>
            {% else %}
                <div>
                    <div >no records found</div>
                </div>
            {% endfor %}
            </div>
        </div>
        <a href="{{ path('admin_product_new') }}">Create new</a>
    </div>
{% endblock %}
