{% extends 'admin/base.html.twig' %}

{% block bread %}
    ⭢ {{'products'|trans(domain='admin.product')}}
{% endblock %}
{% block title %}Product list{% endblock %}

{% block body %}
<div class="overflow-x-auto max-w-[1440px] flex flex-col">
    <div class="mb-4 self-end">
        <a href="{{ path('admin_product_new') }}" class="inline-block px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 capitalize">
            {{ 'add'|trans(domain='admin.product') }}
        </a>
    </div>
    <table class="min-w-full divide-y divide-gray-200 bg-white dark:bg-gray-800">
        <thead class="bg-gray-100 dark:bg-gray-700 text-gray-900 dark:text-white">
            <tr>
                <th class="px-4 py-2 text-left">{{ 'labels.name'|trans(domain='admin.product') }}</th>
                <th class="px-4 py-2 text-left">{{ 'labels.price'|trans(domain='admin.product') }}</th>
                <th class="px-4 py-2 text-left">{{ 'labels.desc'|trans(domain='admin.product') }}</th>
                <th class="px-4 py-2 text-left">{{ 'labels.symbol'|trans(domain='admin.product') }}</th>
                <th class="px-4 py-2 text-left">{{ 'labels.options'|trans(domain='admin.product') }}</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-300 dark:divide-gray-600 text-gray-800 dark:text-gray-100">
            {% for product in products %}
                <tr>
                    <td class="px-4 py-2">{{ product.name }}</td>
                    <td class="px-4 py-2">{{ product.price }}</td>
                    <td class="px-4 py-2">{{ product.description }}</td>
                    <td class="px-4 py-2">{{ product.symbol }}</td>
                    <td class="px-4 py-2">
                        <a 
                            href="{{ path('admin_product_edit', {'id': product.id}) }}" 
                            class="ml-2 text-blue-600 hover:underline"
                        >
                            {{ 'edit'|trans(domain='admin.product') }}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="px-4 py-2 text-center text-gray-500">{{ 'no_records_found'|trans(domain='admin.product') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
