{% extends 'admin/base.html.twig' %}

{% block title %}New Product{% endblock %}
{% block bread %}
   → <a href="{{ path('admin_product_list') }}">{{ 'products'|trans(domain='admin.products')}}</a>  
   → {{ 'add'|trans(domain='admin.products') }}
{% endblock %}

{% block body %}
    <div class="max-w-xl">
        {{ include('admin/product/_form.html.twig') }}
    </div>
    <a href="{{ path('admin_product_list') }}">back to list</a>
{% endblock %}
