<!DOCTYPE html>
<html class="">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="px-3 py-3 flex justify-between bg-gray-200 dark:bg-gray-800">
                <div>
                </div>
                <div class="bg-white w-8 h-8 flex justify-center items-center rounded-full">
                    <i class="fa-solid fa-user"></i>
                    {# tutaj if else wyświetlania zdjęcia profilowego #}
                </div>
            </div>
        </nav>
        <div class="flex bg-gray-200 dark:bg-gray-800">
            <aside class="w-64 dark:bg-gray-800 bg-gray-200 sticky top-0 h-screen px-4">
                <ul class="font-medium text-base text-gray-800 dark:text-gray-200">
                    <li class="">
                        <a  class="w-full inline-block hover:bg-gray-100 p-2 rounded dark:hover:bg-gray-700"
                            href="{{ path('admin_product_list') }}">{{'products'|trans(domain='admin.product')}}</a>
                    </li>
                    <li class="">
                        <a  class="w-full inline-block hover:bg-gray-100 p-2 rounded dark:hover:bg-gray-700"
                            href="{{ path('admin_product_category_list') }}">{{'product_categories'|trans(domain='admin.product_category')}}</a>
                    </li>
                </ul>
            </aside>
            <main 
                class="flex flex-1 flex-col gap-4 pt-8 px-4 bg-gray-300 dark:bg-gray-900 text-gray-800 dark:text-gray-200"
            >
                <div class="text-4xl capitalize">
                    <a href="{{ path('admin_panel') }}">Home</a>
                    {% block bread %}{% endblock %}
                </div>
                <div class="mt-2">
                    {% for label, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="
                                rounded-md p-2 mb-4 border
                                {% if label == 'success' %}
                                    border-green-300 bg-green-50 dark:border-green-600 dark:bg-green-700 dark:text-white
                                {% elseif label == 'error' %}
                                    border-red-300 bg-red-50 dark:border-red-600 dark:bg-red-700 dark:text-white
                                {% elseif label == 'warning' %}
                                    border-yellow-300 bg-yellow-50 dark:border-yellow-600 dark:bg-yellow-700 dark:text-white
                                {% elseif label == 'info' %}
                                    border-blue-300 bg-blue-50 dark:border-blue-600 dark:bg-blue-700 dark:text-white
                                {% endif %}
                            ">
                                {{ message|trans({}, 'flash_messages') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>
        {{ include('admin/shared/_modal.html.twig') }}
    </body>
</html>
