{% extends 'admin/base.html.twig' %}
{% trans_default_domain 'admin.product_category' %}


{% block title %}{{ 'edit_product_category'|trans }}{% endblock %}
{% block bread %}
   → <a href="{{ path('admin_product_category_list') }}">{{ 'product_categories'|trans}}</a>  
   → {{ 'edit'|trans }}
{% endblock %}

{% block body %}
    <div class="max-w-xl">
        {{ include('admin/product_category/_form.html.twig', {'button_label': 'Update'}) }}
        <a             
            class = "block w-full shadow-sm border-transparent rounded-md border p-2 
                    mt-4 mb-2 hover:cursor-pointer bg-gray-200 hover:bg-gray-300 
                    text-gray-800 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-100 
                    text-center capitalize" 
            href="{{ path('admin_product_category_list') }}"
        >
            {{ 'back_to_list'|trans }}
        </a>

        {{ include('admin/product_category/_delete_form.html.twig') }}
    </div>
{% endblock %}
