{% extends 'admin/base.html.twig' %}

{% block title %}{{ 'new_product_category'|trans(domain='admin.product_category') }}{% endblock %}
{% block bread %}
   → <a href="{{ path('admin_product_category_list') }}">{{ 'products'|trans(domain='admin.product_category')}}</a>  
   → {{ 'add'|trans(domain='admin.product_category') }}
{% endblock %}

{% block body %}
    <div class="max-w-xl">
        {{ include('admin/product_category/_form.html.twig') }}
        <a             
            class = "block w-full shadow-sm border-transparent rounded-md border p-2 
                    mt-4 mb-2 hover:cursor-pointer bg-gray-200 hover:bg-gray-300 
                    text-gray-800 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-100 
                    text-center capitalize" 
            href="{{ path('admin_product_category_list') }}"
        >
            {{ 'back_to_list'|trans(domain='admin.product_category')}}
        </a>
    </div>
{% endblock %}
